<div class="main-content custom">
    <!-- <div class="container-fluid"> -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title">
                <span>Product Search</span>
                <div>
                    <div class="container">

                    </div>
                    <br/>
                    <div class="products-area" *ngIf="prod_loaded">
                        <div class="card" *ngFor="let data of sg['products']; let i = index">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card-header card-header-text" data-background-color="rose">
                                        <a href="{{data.profileurl}}" target="_blank">
                                            <h4 class="card-title">{{data.title}} </h4>
                                        </a>
                                    </div>
                                </div>
                                <div class="card-content">
                                    <div class="col-sm-3  col-sm-3 col-xs-5 plan-detail">
                                        <p>
                                            <img src="{{data.profile_logo}}">
                                        </p>
                                        <br>
                                        <star-rating-comp [size]="'large'" [starType]="'svg'" [rating]="" [(ngModel)]="rating"></star-rating-comp>

                                    </div>

                                    <div class="col-sm-3 col-sm-3 col-xs-5 rate plan-detail">
                                        <h3>
                                            <b>Plan Details</b>
                                        </h3>
                                        <p *ngFor="let item of data.plan_information">
                                            {{item}}
                                        </p>
                                        <!-- <p>{{amount| myCurrency }} </p> -->
                                        <!-- <p *ngFor="let item of yehDekhana">{{data.plan_information}}</p> -->
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-5 rate">
                                        <h3>
                                            <b>Price</b>
                                        </h3>
                                        <h4 *ngFor="let items of data.price_rate">
                                            {{items}}$
                                        </h4>
                                        <!-- <small>{{data.display_uom}}</small> -->
                                        <!-- <br /> -->

                                        <!-- <small><b>$69.99 </b></small> -->
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-7 term">

                                        <h3>
                                            <b>{{data.cancelation_fee}}</b>
                                        </h3>

                                        <h3>Call now</h3>
                                        <h4>{{data.phone}}</h4>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-7 term top-margin-25">
                                        <!--(click)="signUp(data.product_id)"-->
                                        <button class="btn btn-rose" (click)="openDialog(data.id)">Sign Up
                                            <i class="material-icons">bubble_chart</i>
                                        </button>
                                    </div>
                                    <div class="col-sm-12">
                                        <a href="#p-pane-{{i}}" class="view-more collapsed" data-toggle="collapse">
                                            View more
                                            <i class="material-icons">arrow_drop_down</i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div id="p-pane-{{i}}" class="panel-details collapse">
                                <div class="clearfix">
                                    <div class="col-sm-12 col-md-6">
                                        <h4>Get your year-pass savings:</h4>
                                        <ul>
                                            <li>Keep your bills mild when the weather gets wild, and get a low rate in between.*</li>
                                            <li>In summer and winter months, see the Season Pass Savings right on your bill.

                                            </li>
                                        </ul>
                                        <h5>Plan Documents</h5>
                                        <ul class="list-normal">
                                            <li>
                                                <a href="{{data.terms_of_service}}" target="_blank">
                                                    <i class="material-icons">picture_as_pdf</i>
                                                    Terms of service
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="material-icons">picture_as_pdf</i>
                                                    Your rights as a Customer
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{data.fact_sheet}}" target="_blank">
                                                    <i class="material-icons">picture_as_pdf</i>
                                                    Fact Sheet
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <h4>Rates Detail:</h4>
                                        <div class="table">
                                            <table class="table-normal">
                                                <thead>
                                                    <tr>
                                                        <td>
                                                            <h4>Average Monthly Use</h4>
                                                        </td>
                                                        <td>
                                                            <h4>Average Price per kWh</h4>
                                                        </td>
                                                    </tr>
                                                </thead>

                                                <tbody *ngFor="let items of data.price_rate">
                                                    <tr>

                                                        <td>
                                                            <h4>{{ items.split(' ',3000)[0]}} KWH </h4>
                                                        </td>
                                                        <td>
                                                            <h4>{{ items.split(' ',3000)[2]}} $</h4>
                                                        </td>
                                                        <!-- <td><h4>$ 15.20</h4></td> -->
                                                    </tr>
                                                    <!-- <tr>
                                                <td><h4>1000 kWh</h4></td>
                                                <td><h4>$ 13.60</h4></td>
                                            </tr> -->
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- </div> -->

        </div>

        <!-- <div>
            <div> -->
                <div class="container">
                    <div class="text-center">
                        <!-- <h1>Angular 2 - Pagination Example with logic like Google</h1> -->

                        <!-- items being paged -->
                        <div *ngFor="let item of pagedItems">{{item.name}}</div>

                        <!-- pager -->
                        <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                            <li [ngClass]="{disabled:pager.currentPage === 1}">
                                <a (click)="setPage(1)" class="btn btn-rose">First</a>
                            </li>
                            <li [ngClass]="{disabled:pager.currentPage === 1}">
                                <a (click)="setPage(pager.currentPage - 1)" class="btn btn-rose">Previous</a>
                            </li>
                            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                                <a (click)="setPage(page)" class="btn btn-rose">{{page}}</a>
                            </li>
                            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                <a (click)="setPage(pager.currentPage + 1)" class="btn btn-rose" type="Next">Next</a>
                            </li>
                            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                <a (click)="setPage(pager.totalPages)" class="btn btn-rose" type="Last">Last</a>
                            </li>
                        </ul>
                    </div>
                </div>


                <!--<div class="main-content">-->
                <!--<div class="container-fluid">-->
                <!--<div class="row">-->
                <!--<div class="col-md-12">-->
                <!--<div class="card">-->
                <!--<div class="card-header card-header-icon" data-background-color="purple">-->
                <!--<i class="material-icons">assignment</i>-->
                <!--</div>-->
                <!--<div class="card-content">-->
                <!--<h4 class="card-title">DataTables.net</h4>-->
                <!--<div class="toolbar">-->
                <!--&lt;!&ndash;        Here you can write extra buttons/actions for the toolbar              &ndash;&gt;-->
                <!--</div>-->
                <!--<div class="material-datatables table-responsive">-->
                <!--<table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">-->
                <!--<thead>-->
                <!--<tr>-->
                <!--<th>{{ dataTable.headerRow[0] }}</th>-->
                <!--<th>{{ dataTable.headerRow[1] }}</th>-->
                <!--<th>{{ dataTable.headerRow[2] }}</th>-->
                <!--<th>{{ dataTable.headerRow[3] }}</th>-->
                <!--<th>{{ dataTable.headerRow[4] }}</th>-->
                <!--<th class="disabled-sorting text-right">{{ dataTable.headerRow[5] }}</th>-->
                <!--</tr>-->
                <!--</thead>-->
                <!--<tfoot>-->
                <!--<tr>-->
                <!--<th>{{ dataTable.footerRow[0] }}</th>-->
                <!--<th>{{ dataTable.footerRow[1] }}</th>-->
                <!--<th>{{ dataTable.footerRow[2] }}</th>-->
                <!--<th>{{ dataTable.footerRow[3] }}</th>-->
                <!--<th>{{ dataTable.footerRow[4] }}</th>-->
                <!--<th class="text-right">{{ dataTable.footerRow[5] }}</th>-->
                <!--</tr>-->
                <!--</tfoot>-->
                <!--<tbody>-->
                <!--<tr *ngFor="let row of dataTable.dataRows">-->
                <!--<td>{{row[0]}}</td>-->
                <!--<td>{{row[1]}}</td>-->
                <!--<td>{{row[2]}}</td>-->
                <!--<td>{{row[3]}}</td>-->
                <!--<td>{{row[4]}}</td>-->
                <!--<td class="text-right">-->
                <!--<button class="btn btn-simple btn-info btn-icon like"  matTooltip="Like" [matTooltipPosition]="'left'">-->
                <!--<i class="material-icons">favorite</i>-->
                <!--</button>-->
                <!--<button class="btn btn-simple btn-warning btn-icon edit"  matTooltip="Edit" [matTooltipPosition]="'left'">-->
                <!--<i class="material-icons">dvr</i>-->
                <!--</button>-->
                <!--<button class="btn btn-simple btn-danger btn-icon remove"  matTooltip="Remove" [matTooltipPosition]="'left'">-->
                <!--<i class="material-icons">close</i>-->
                <!--</button>-->
                <!--</td>-->
                <!--</tr>-->
                <!--</tbody>-->
                <!--</table>-->
                <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash; end content&ndash;&gt;-->
                <!--</div>-->
                <!--&lt;!&ndash;  end card  &ndash;&gt;-->
                <!--</div>-->
                <!--&lt;!&ndash; end col-md-12 &ndash;&gt;-->
                <!--</div>-->
                <!--&lt;!&ndash; end row &ndash;&gt;-->
                <!--</div>-->
                <!--</div>-->