<footer class="footer">
  <section class="footer-top clearfix" style="background: hsla(0, 40%, 16%, 0.643); height: 270px;padding:40px;">
    <div class="container">
      <div class="row">

        <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4">
          <div class="footer-widget">
            <h3 style=" color: white">Who Are We? </h3>
            <ul>
              <b>
                <li>
                  <a style=" color: white" onclick="topFunction()" routerLink="/what-is-ChoiceGenie" >
                    <i style=" color: white" aria-hidden="true" class="fa fa-chevron-right"></i> What is Choice Genie</a>
                </li>
              
                <li>
                  <a style=" color: white" onclick="topFunction()" routerlink="/contact" >
                    <i style=" color: white" aria-hidden="true" class="fa fa-chevron-right"></i> Establish Contact</a>
                </li>
              </b>
            </ul>
          </div>
        </div>



        <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4">
          <div class="footer-widget social-widget">
            <h3 style=" color: white"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   Stalk Us</h3>
            <ul>
              <li></li>
              <li><img  src="../../assets/img/facebook.png"></li>
                  <li><img src="../../assets/img/tweeter.png"></li>
                  <li><img src="../../assets/img/pintrest.png"></li>

            </ul>
          </div>
        </div>


        <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4">
          <div class="footer-widget">
            <h3 style=" color: white">My Choice Genie</h3>
            <ul>
              <li>
                <p style=" color: white">We take the time to understand your needs by analyzing your previous energy consumption.</p>
              </li>
              <li>
                <a href="/register" data-toggle="modal" type="submit">
                  <i aria-hidden="true" class=" btn- btn-rose"></i> Sign Up</a>
              </li>
              <li>
                <a href="/pages/login" data-toggle="modal" type="submit">
                  <!-- <i class="material-icons">lock_open</i> Sign in</i> -->
                  <i aria-hidden="true" class=" btn- btn-rose"></i> login</a>
              </li>
              
               


            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="footer-bottom clearfix text-center footerhide" id="footerhide1" style="background: rgb(9, 29, 36) ; height: 60px;padding:10px;">
    <div class="container">

      <h6>
        <b>
          <p style=" color: white">Copyright ©
            <a href="#"></a> 2018, Choice Genie. All rights reserved
            <span class="pull-right">
              <a class="terms-link" onclick="topFunction();" routerlink="terms-and-conditions" href="/terms-and-conditions">Terms of Use and Privacy</a>
            </span>
          </p>
        </b>
      </h6>

    </div>
  </div>
</footer>